body {
  background-color: hsl(176, 19%, 74%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#content {
  display: flex;
  flex-direction: column;
}
.card {
  width: 25rem;
}

nav > li {
  list-style: none;
  display: inline-block;
  margin: 0.5rem 1.5rem;
  list-style-type: none;
  padding-left: 12px;
  cursor: pointer;
}

nav > li > a {
  color: gray;
  font-size: 1.5rem;
}

.menu-table {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
